<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My Django Blog thingy</title>
	</head>
	<body>
		<div>
			<h1><a href="">My Django Blog</a></h1>
		</div>

		<div>
			<p>Published: 1234124</p>
			<h2>first post</h2>
			<p>asjdfkashdfkjaskdjfjalsdjfjasdjfj
			sdjkf;asjdf;lkjasdlfjiht 
			fasdfsajdklfjaslk;djfaaksdjfka</p>
		</div>

		<div>
			<p>published: 23234</p>
			<h2>second post</h2>
			<p>kfaskdljfasjijwioejarijaijejfiasd afijasdfajs sa djaisj
			adjfjasdj ad adf asd
			f asd asdfieriie ra asfo43</p>
		</div>
	</body>
</html>